<a href="https://colab.research.google.com/github/AgufSamudra/House-Price-Predict/blob/main/House_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Views The Dataset

Previously we will look at the dataset that we will use to do the modeling. And the name of our dataset is *kc_house_data.csv*, we will try to find a pattern from that dataset that might be useful and applied in the future.

In [2]:
df = pd.read_csv('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

We also need to look at the info of our dataset in detail using a function called info(). this function will tell us the contents of the dataset, like a the number of rows of columns, missing values, and the data type of each column.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Then we want to take some of the data to fill in the variables X and y, or commonly called Independent and dependent variables.

If we look again at our Dataframe, there are the ID and Date columns. I don't think it's necessary so I'm going to take all the columns except them, and I'm making the Price column the Label (Dependent variable)

In [4]:
X = df.iloc[:, 3:]
y = df.iloc[:,2]

print(X)

       bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
0             3       1.00         1180      5650     1.0           0     0
1             3       2.25         2570      7242     2.0           0     0
2             2       1.00          770     10000     1.0           0     0
3             4       3.00         1960      5000     1.0           0     0
4             3       2.00         1680      8080     1.0           0     0
...         ...        ...          ...       ...     ...         ...   ...
21608         3       2.50         1530      1131     3.0           0     0
21609         4       2.50         2310      5813     2.0           0     0
21610         2       0.75         1020      1350     2.0           0     0
21611         3       2.50         1600      2388     2.0           0     0
21612         2       0.75         1020      1076     2.0           0     0

       condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
0              3      7        1180              0      1955             0
1              3      7        2170            400      1951          1991
2              3      6         770              0      1933             0
3              5      7        1050            910      1965             0
4              3      8        1680              0      1987             0
...          ...    ...         ...            ...       ...           ...
21608          3      8        1530              0      2009             0
21609          3      8        2310              0      2014             0
21610          3      7        1020              0      2009             0
21611          3      8        1600              0      2004             0
21612          3      7        1020              0      2008             0

       zipcode      lat     long  sqft_living15  sqft_lot15
0        98178  47.5112 -122.257           1340        5650
1        98125  47.7210 -122.319           1690        7639
2        98028  47.7379 -122.233           2720        8062
3        98136  47.5208 -122.393           1360        5000
4        98074  47.6168 -122.045           1800        7503
...        ...      ...      ...            ...         ...
21608    98103  47.6993 -122.346           1530        1509
21609    98146  47.5107 -122.362           1830        7200
21610    98144  47.5944 -122.299           1020        2007
21611    98027  47.5345 -122.069           1410        1287
21612    98144  47.5941 -122.299           1020        1357

[21613 rows x 18 columns]

In [5]:
print(y)

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

# Spliting To Training set and Test set

We will separate them into training set and test set, with 30% for test set. Scikit-Learn has really helped me a lot with my small project.

Thank you sklearn

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [7]:
len(X_train), len(X_test)

(15129, 6484)

# Feature Scaling

Then we also apply the Feature Scaling to make the range of each attribute the same. And also this will maximize the algorithm at the time of training.

Because this data is quite large with 21000 rows, so I avoid data that has a distance that is too far. therefore I implemented the Feature Scaling.

what I use is Standardization.

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train, X_test)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [9]:
X_train

array([[-0.39355042, -0.15234454, -0.59595972, ...,  1.33983745,
         0.12644749, -0.23480148],
       [-1.46134529, -1.46264615, -1.4041745 , ..., -0.79376019,
        -1.31609118, -0.20214645],
       [-0.39355042, -1.46264615, -1.34881733, ..., -0.90755206,
        -1.24249227, -0.05498302],
       ...,
       [-0.39355042, -0.47991994, -0.11988801, ...,  1.43229335,
         0.70051901,  0.8594658 ],
       [-0.39355042,  0.17523086, -0.10881657, ..., -1.03556792,
        -0.63898119, -0.12727004],
       [ 1.74203934,  2.46825868,  1.86189892, ...,  0.2161427 ,
         2.1283379 ,  0.80260721]])

In [10]:
X_test

array([[ 6.74244461e-01,  8.30381667e-01,  7.87969690e-01, ...,
         7.42430114e-01,  1.34818944e+00, -2.16747711e-01],
       [-3.93550415e-01,  1.75230863e-01, -4.96316807e-01, ...,
        -1.32344917e-01, -5.35942715e-01, -1.92400291e-01],
       [-1.46134529e+00, -8.07495343e-01,  3.22969407e-01, ...,
         3.09649951e+00,  2.76128855e+00,  4.97385615e+00],
       ...,
       [-1.46134529e+00, -1.46264615e+00, -8.83817043e-01, ...,
        -4.73720540e-01, -4.77063585e-01, -2.37318943e-01],
       [ 1.74203934e+00,  1.81310787e+00,  3.42297130e+00, ...,
        -4.09712610e-01,  1.52482683e+00,  3.63780041e-03],
       [ 6.74244461e-01,  5.02806265e-01,  1.29725571e+00, ...,
         7.13982146e-01, -5.65382280e-01,  1.13314951e+00]])

# Create XGBoost

Here I use the XGBoost algorithm, previously I have used RandomForest and did not get maximum results. Maybe it's my ignorance in using RandomForest.

But here I remember a very powerful algorithm called XGBoost, so I use it. Without further ado I created XGBoost with the parameters I had set.

In [11]:
from xgboost import XGBRegressor
regressor = XGBRegressor(base_score=1,
                         learning_rate=0.5,
                         n_estimators=200,
                         booster='gbtree',
                         random_state=42)
regressor.fit(X_train, y_train)

[16:15:19] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=1, learning_rate=0.5, n_estimators=200, random_state=42)

In [12]:
regressor.get_params()

{'base_score': 1,
 'booster': 'gbtree',
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'gamma': 0,
 'importance_type': 'gain',
 'learning_rate': 0.5,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 1,
 'missing': None,
 'n_estimators': 200,
 'n_jobs': 1,
 'nthread': None,
 'objective': 'reg:linear',
 'random_state': 42,
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': None,
 'silent': None,
 'subsample': 1,
 'verbosity': 1}

# View Scores

I used the score() function to see a single result, and used Cross Validation for a Fold of 14. That way I can see the detailed accuracy from here, and that's the score I can get.

You guys might be able to get more out of this with a different algorithm, as I'm also still learning how to maximize myself.

Thank you

In [13]:
regressor.score(X_train, y_train)

0.9529283741775132

In [14]:
regressor.score(X_test, y_test)

0.8807537104385084

In [15]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = X_train, y = y_train, cv = 14)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

[16:15:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Accuracy: 88.13 %
Standard Deviation: 1.81 %

In [16]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = X_test, y = y_test, cv = 14)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

[16:15:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:55] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:57] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:57] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:15:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:16:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:16:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:16:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:16:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:16:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:16:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Accuracy: 84.63 %
Standard Deviation: 5.84 %